.step {
  &__header {
    font-size: 24px;
    color: #7b8d93;
    margin-bottom: 31px;
  }
  &__content {
    position: relative;
  }
  &__footer {
    text-align: right;
  }
}

.notification {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100px;
  bottom: 30px;
  width: 100%;
  background-color: rgb(207, 216, 220);
  border-radius: 5px;
  &__icon {
    width: 58px;
    height: 58px;
    border-radius: 100%;
    background-color: #fff;
    background-position: center;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    &--success {
      background-image: url('../../../assets/icon_success.svg');
    }
    &--error {
      background-image: url('../../../assets/icon_error.svg');
    }
  }
  &__text {
    margin-top: 20px;
    font-size: 24px;
    color: #9da6a9;
  }
}

.btn {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  width: 150px;
  &[disabled] {
    background-color: grey;
    color: #9da6a9;
  }
  &--success {
    background: #1bb01b;
  }
  &--default {
    background: rgb(153, 153, 153);
  }
}
