@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
}
